################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StarfieldPlus.OpenGL/v16/.suo
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.exe
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.exe.config
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.pdb
/StarfieldPlus.OpenGL/obj/Debug
/StarfieldPlus.OpenGL/obj/Release/StarfieldPlus.OpenGL.csproj.AssemblyReference.cache
/StarfieldPlus.OpenGL1/bin/Debug/StarfieldPlus.OpenGL.exe
/StarfieldPlus.OpenGL1/bin/Debug/StarfieldPlus.OpenGL.exe.config
/StarfieldPlus.OpenGL1/bin/Debug/StarfieldPlus.OpenGL.pdb
/StarfieldPlus.OpenGL1/bin/Release/StarfieldPlus.OpenGL.exe
/StarfieldPlus.OpenGL1/bin/Release/StarfieldPlus.OpenGL.pdb
/StarfieldPlus.OpenGL1/bin/Release/StarfieldPlus.OpenGL.exe.config
/StarfieldPlus.OpenGL1/obj
/StarfieldPlus.OpenGL/obj/Release
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src.exe
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src.exe.config
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src.pdb
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src.exe
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src.exe.config
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src.pdb
/.vs/StarfieldPlus.OpenGL/v16/TestStore/0
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.scr
