################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/StarfieldPlus.OpenGL/.vs/
/.vs/StarfieldPlus.OpenGL/v16/.suo
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.exe
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.exe.config
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.pdb
/StarfieldPlus.OpenGL/obj/Debug
/StarfieldPlus.OpenGL/obj/Release/StarfieldPlus.OpenGL.csproj.AssemblyReference.cache
/StarfieldPlus.OpenGL1/bin/Debug/StarfieldPlus.OpenGL.exe
/StarfieldPlus.OpenGL1/bin/Debug/StarfieldPlus.OpenGL.exe.config
/StarfieldPlus.OpenGL1/bin/Debug/StarfieldPlus.OpenGL.pdb
/StarfieldPlus.OpenGL1/bin/Release/StarfieldPlus.OpenGL.exe
/StarfieldPlus.OpenGL1/bin/Release/StarfieldPlus.OpenGL.pdb
/StarfieldPlus.OpenGL1/bin/Release/StarfieldPlus.OpenGL.exe.config
/StarfieldPlus.OpenGL1/obj
/StarfieldPlus.OpenGL/obj/Release
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src.exe
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src.exe.config
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.src.pdb
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src.exe
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src.exe.config
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.src.pdb
/.vs/StarfieldPlus.OpenGL/v16/TestStore/0
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.scr
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.scr.exe
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.scr.exe.config
/StarfieldPlus.OpenGL/bin/Release/StarfieldPlus.OpenGL.scr.pdb
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.scr.exe
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.scr.exe.config
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.scr.pdb
/StarfieldPlus.OpenGL/bin/Debug/__ini.ini
/StarfieldPlus.OpenGL/bin/Release/__ini.ini
/StarfieldPlus.OpenGL/bin/Debug/StarfieldPlus.OpenGL.scr
/glfw-3.3.8.bin.WIN64.zip
/StarfieldPlus.OpenGL/OpenGL/GLFW/obj
/StarfieldPlus.OpenGL/bin/Release
